body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #F5F5F5;
}

button, input[type="submit"] {
  cursor: pointer;
}

* {
  box-sizing: inherit;
}

main {
  background-color: white;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  min-height: 100%;
  border: 1px solid white;
  border-radius: 5px;
}

body {
  padding: 5px;
}

.notes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 25px;
}

.entry {
  background-color: rgb(228, 226, 226);
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-basis: 15%;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
  justify-content:space-between;
  gap: 5px;
}

.entry * {
  flex-basis: 10%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.entry > h2 {
  border-bottom: 1px solid black;
  margin-bottom: 0;
  margin-top: 2px;
}

.entry div {
  display: flex;
}

.entry button {
  flex: 1;
}

#popup, #clear-filter {
  display: none;
}

.tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 30px;
  overflow-y: hidden;
  gap: 4px;
  scrollbar-width: none;
}

.tags li {
  border: 1px solid black;
  padding: 4px;
  background-color: lightgoldenrodyellow;
  border-radius: 8px;
  white-space: nowrap;
}

nav {
  background-color: silver;
  padding: 0.1%;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  top: 0;
  display: flex;
  justify-content: space-between;
}

nav p {
  margin: 5px;
  padding: 5px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  margin: 5px;
  padding: 5px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

nav li > a {
  color: black;
  text-decoration: none;
}

nav .user {
  display: flex;
  align-items: center;
}

nav .user img {
  height: 2em;
}

.note-controls {
  display: flex;
  justify-content: space-between;
}

.emptystate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.emptystate p,h2 {
  margin: 0;
  padding: 0;
}

.emptystate img {
  height: 5em;
}

.no-notes {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: none;
}

.no-results {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: none;
}