body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  padding: 5px;
}

.notes {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.entry {
  background-color: rgb(228, 226, 226);
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  display: flex;
  flex-basis: 10%;
  flex-direction: column;
  overflow: hidden;
  max-height: 100%;
}

.entry * {
  flex-basis: 10%;
}

.entry > h2 {
  text-align: center;
  border-bottom: 1px solid black;
}

#popup {
  display: none;
}

.tags {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: nowrap;
  overflow-x: scroll;
  min-height: 30px;
  overflow-y: hidden;
  gap: 4px;
  scrollbar-width: none;
}

.tags li {
  border: 1px solid black;
  padding: 4px;
  background-color: lightgoldenrodyellow;
  border-radius: 8px;
}